* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    width: 90%;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.header-wraper {
    display: flex;
}

.header-contaner {
    width: 50%;
    position: relative;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-contaner-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-contaner-center h1 {
    font-size: 60px;
    padding-bottom: 20px;
}

.header-contaner-center p {
    font-size: 20px;
    color: rgb(70, 70, 70);
    padding-bottom: 35px;
}

.header-img img {
    width: 90%;
}

a.order-lnk {
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    background-image: linear-gradient(45deg, rgb(253, 87, 51), rgb(251, 148, 74));
    padding: 10px 20px;
    border-radius: 10px;
}

.header-contaner-center h1 span {
    color: rgb(253, 87, 51);
}

section.about {
    width: 90%;
    margin: auto;
    background-image: url("img/7.png");
}

.about-wraper {
    display: flex;
}

.about-img {
    width: 50%;
    text-align: center;
}

.about-content {
    width: 50%;
    position: relative;
}

.about-img img {
    width: 35%;
}

.about-content-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content-center h1 {
    font-size: 45px;
    text-transform: capitalize;
}

.about-content-center p {
    width: 74%;
    text-align: left;
    font-size: 20px;
    padding: 20px 0px 45px;
}

a.contact-link {
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(253, 87, 51), rgb(251, 148, 74));
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    border-radius: 5px;
}

section.our-recipies {
    width: 90%;
    margin: auto;
    padding: 100px 0px;
}

.our-recipies-content h1 {
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
}

.our-recipies-content p {
    width: 47%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding: 18px 0px;
}

.our-recipies-content {
    padding-bottom: 5%;
}

.recipies-imgs {
    display: flex;
}

.recipies-img-1 {
    width: 40%;
    margin-right: 5%;
    background: rgb(233, 233, 233);
    text-align: center;
    border-radius: 15px;
    padding: 2% 0%;
}

.recipies-img-1 img {
    width: 80%;
    border-radius: 26px;
}

.recipies-img-2 {
    width: 40%;
    margin-left: 5%;
}

.recipies-img-2 img {
    width: 80%;
}

.recipies-img-1 h1 {
    text-align: left;
}

.recipies-img-1 p {
    text-align: left;
}

.recipies-img-1 h1 {
    font-size: 30px;
    color: rgb(147, 35, 11);
    margin-left: 55px;
}

.recipies-img-1 h1 {
    font-size: 30px;
    color: rgb(147, 35, 11);
    margin-left: 10%;
}

.recipies-img-1 p {
    margin-left: 10%;
    width: 70%;
    font-size: 18px;
    line-height: 150%;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    width: 90%;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.header-wraper {
    display: flex;
}

.header-contaner {
    width: 50%;
    position: relative;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-contaner-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-contaner-center h1 {
    font-size: 60px;
    padding-bottom: 20px;
}

.header-contaner-center p {
    font-size: 20px;
    color: rgb(70, 70, 70);
    padding-bottom: 35px;
}

.header-img img {
    width: 90%;
}

a.order-lnk {
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    background-image: linear-gradient(45deg, rgb(253, 87, 51), rgb(251, 148, 74));
    padding: 10px 20px;
    border-radius: 10px;
}

.header-contaner-center h1 span {
    color: rgb(253, 87, 51);
}

section.about {
    width: 90%;
    margin: auto;
    background-image: url("img/7.png");
    padding: 0%;
}

.about-wraper {
    display: flex;
}

.about-img {
    width: 50%;
    text-align: center;
}

.about-content {
    width: 50%;
    position: relative;
}

.about-img img {
    width: 35%;
}

.about-content-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about-content-center h1 {
    font-size: 45px;
    text-transform: capitalize;
}

.about-content-center p {
    width: 74%;
    text-align: left;
    font-size: 20px;
    padding: 20px 0px 45px;
}

a.contact-link {
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(253, 87, 51), rgb(251, 148, 74));
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    border-radius: 5px;
}

.our-recipies {
    padding: 5% 0%;
    width: 90%;
    margin: auto;
}

.taitle h1 {
    font-size: 40px;
    text-align: center;
}

.taitle p {
    width: 46%;
    text-align: center;
    margin: 2% auto auto;
    line-height: 155%;
    font-size: 20px;
}

.our-iteam {
    display: flex;
    margin-top: 5%;
}

.item-about-1 {
    width: 47%;
    background-color: rgb(255, 255, 255);
    margin-right: 3%;
    border-radius: 2%;
    box-shadow: 1px 1px 11px #c3c3c3;
    padding: 3% 0%;
}

.item-about-2 {
    width: 47%;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;
    border-radius: 2%;
    box-shadow: 1px 1px 11px #9f9f9f;
    padding: 3% 0%;
}

.item-img {
    width: 100%;
    text-align: center;
}

.item-img img {
    width: 80%;
    border-radius: 7%;
}

.item-description h1 {
    font-size: 30px;
    margin-left: 10%;
    padding: 3% 0%;
}

.item-description p {
    margin-left: 10%;
    width: 80%;
    font-size: 18px;
    line-height: 130%;
}

section.our-subscriber {
    width: 90%;
    margin: auto auto 5%;
    background: white;
    box-shadow: 0px 0px 7px #919191;
    border-radius: 1%;
    padding: 5% 0%;
}

.subscriber-wraper {
    display: flex;
}

.youtub {
    width: 33%;
    position: relative;
}

.instagrm {
    width: 33%;
    position: relative;
}

.Dribbble {
    width: 33%;
    position: relative;
}

.youtub-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instagrm-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Dribbble-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}